################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/DemoEngineGUI
/.vs
/src/Render/Resources/Models/golf_ball
