################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/DemoEngineGUI
/.vs
/src/Render/Resources/
/src/Physic/AABB.cpp
/src/Physic/AABB.h
/src/Phisic/Collision.cpp
/src/Phisic/Collision.h
/src/Debug/logs.txt
